.dashboard_nav ul li a{
    transition:0.5s ease-in-out;
}
.dashboard_nav ul li a:hover{
    width:100%;
    color:rgb(0,0,0) !important;
    background-color: rgb(224, 229, 232);
}

.active{
    color:rgb(0,0,0) !important;
    background-color: rgb(224, 229, 232) !important;
}